header {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.0)), 
    url(./web-photos/forest-in-winters-4.jpg);
  background-size: cover;
  color: white;
}

body{
  background-color: whitesmoke;
}

.web-title {
  margin: 0;
  padding: 70px 40px 0 40px;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(192, 207, 202);
  padding: 8px;
  font-size: large;
  font-weight: 900;
  font-family: 'Josefin Sans', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
  }

.navbarlinka {
  margin-right: 50px;
}

.navbarlinkb {
  margin-right: 20px;
}

.countdownsubtitle {
  font-size: 45px;
  text-align: center;
  color: rgb(50, 59, 56);
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.countdowncontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;
  font-family: 'Josefin Sans', sans-serif;
}

span {
  font-size: 35x;
  font-family: 'Open Sans', sans-serif;
}

/* got the background image in the containers to darken using the gradient code here https://css-tricks.com/design-considerations-text-images/ */
.christmascontainer {
  background-color: rgb(192, 207, 202);
  color: white;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url(./web-photos/treees.jpg);
  background-size: cover;
  width: 400px;
  margin-right: 30px;
  padding: 20px 20px 40px 20px;
  font-size: 35px;
}

.hanukkahcontainer{
  background-color: rgb(192, 207, 202);
  color: white;
  background-image:  
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)), 
    url(./web-photos/treees.jpg);
  background-size: cover;
  width: 400px;
  padding: 20px 20px 40px 20px;
  font-size: 35px;
}

.holiday-title {
  margin-bottom: 20px;
}

.footer{
  background-color: rgb(192, 207, 202);
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
}

.socialmediacontainer {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 40px;
}

#github{
  width: 80px;
  padding-left: 20px;
}

#linkedin {
  width: 50px;
}

/* TABLET BREAKPOINT */
@media only screen and (max-width: 1024px) {


  .navbar {
    font-size: 20px;
  }

  .countdowncontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .christmascontainer {
    width: 350px;
    font-size: 35px;
    margin: 0 auto;
    margin-right: 40px;
  }
  
  .hanukkahcontainer{
    width: 350px;
    font-size: 35px;
    margin: 0 auto;
    margin-left: 40px;

  }
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 600px) {

  header {
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
  }
  
  body{
    background-color: whitesmoke;
  }
  
  .web-title {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
  
  .navbar {
    justify-content: center;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
  
  }

  .navbarlinka {
    margin-right: 0px;
  }
  
  .countdowncontainer { 
    flex-direction: column;
  }
  
  .christmascontainer {
    width: 350px;
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .hanukkahcontainer{
    width: 350px;
    font-size: 35px;
    margin: 0 auto;
  }

  .socialmediacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 0px;
  }
  
  #github{
    width: 80px;
    padding-left: 20px;
  }
  
}