.delete-button {
  width: 30px;
  position: absolute;
  margin-left: 250px;
  margin-top: 20px;
}

.delete-button:hover{
cursor: pointer;
background-color: grey;
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 600px) {
  
  .delete-button {
    margin-left: 190px;
  }

}