.delete-button {
  width: 30px;
  margin-top: 0px;
  margin-left: 300px;
}

.delete-button:hover{
cursor: pointer;
background-color: grey;
}

@media only screen and (max-width: 600px) {
  
  .delete-button {
    margin-left: 250px;
  }

}