.subheaderviewwishlist {
  color: rgb(50, 59, 56);
  font-size: 27px;
  margin: 45px 0px 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.captionviewwishlist{
  margin: 0px 0px 30px 40px;
  font-family: "Open Sans", sans-serif;
}

.wishlistcontainer{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: left;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.wishlistitem{
  font-size: 20px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
  ),url(./web-photos/ViewList.jpeg);
  background-size: cover;
  color: white;
  width: 400px;
  height: 288px;
  margin: 20px;
  padding: 10px 10px 20px 30px;
  box-shadow: 10px 10px 5px grey;
}

.itemtitle {
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}


/* MOBILE BREAKPOINT */
@media only screen and (max-width: 600px) {

  .subheaderviewwishlist {
    text-align: center;
    margin-left: 0px;
  }
  
  .captionviewwishlist{
    text-align: justify;
    margin-left: 0px;
    margin: 0 auto;
    max-width: 90%;
  }

  .wishlistitem{
    width: 350px;
    height: 90%;
  }

}