.subheaderviewwishlist {
color: rgb(50, 59, 56);
margin-left: 40px;

}

.captionviewwishlist{
  margin-left: 40px;

}

.wishlistcontainer{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: left;
}

.wishlistitem{
  font-size: 20px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
  ),url(./web-photos/ViewList.jpeg);
  background-size: cover;
  color: white;
  width: 400px;
  height: 250px;
  margin: 20px;
  padding: 10px 10px 20px 30px;
}

.itemtitle {
  font-weight: bold;
  text-transform: uppercase;
}

.purchasebutton {
  background-color: rgb(50, 59, 56);
  font-weight: bold;
  border-style: outset;
  color: white;
  border-radius: 3px;
  padding: 4px;
}