.subheaderviewwishlist {
  color: rgb(50, 59, 56);
  font-size: 27px;
  margin: 45px 0px 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.captionviewwishlist{
  margin: 0px 0px 30px 40px;
  font-family: "Open Sans", sans-serif;
}

.wishlistcontainer{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: left;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.wishlistitem{
  font-size: 20px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
  ),url(./web-photos/ViewList.jpeg);
  background-size: cover;
  color: white;
  width: 400px;
  height: 288px;
  margin: 20px;
  padding: 10px 10px 20px 30px;
  border: 5px solid rgb(50, 59, 56);
}

.itemtitle {
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}
