.add-item-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  background-color:  rgb(192, 207, 202);
  padding: 20px;
}

input {
  margin-bottom: 20px;
}
.add-item-button {
  width: 200px;
}
