header {
  width: 100%;
  height: 150px;
  background-image: url(./web-photos/forest-in-winters-4.jpg);
  color: white;
}

body{
  background-color: whitesmoke;
}

.web-title {
  margin: 0;
  padding: 50px 40px 0 40px;
  font-size: 80px;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(192, 207, 202);
  padding: 8px;
  font-size: large;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.navbarlinka {
  margin-right: 50px;
}

.navbarlinkb {
  margin-right: 20px;
}

.countdowncontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
.countdownsubtitle {
  font-size: 50px;
  text-align: center;
  color: rgb(50, 59, 56);
}

span {
  font-size: 40px;
}

/* got the background image in the containers to darken using the gradient code here https://css-tricks.com/design-considerations-text-images/ */
.christmascontainer {
  background-color: rgb(192, 207, 202);
  color: white;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url(./web-photos/treees.jpg);
  background-size: cover;
  width: 400px;
  margin-right: 30px;
  padding: 20px 20px 40px 20px;
  font-size: 35px;
}

.hanukkahcontainer{
  background-color: rgb(192, 207, 202);
  color: white;
  background-image:  
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url(./web-photos/treees.jpg);
  background-size: cover;
  width: 400px;
  padding: 20px 20px 40px 20px;
  font-size: 35px;

}

.footer{
  background-color: rgb(192, 207, 202);
  position: absolute;
  top: 1500px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}

.socialmediacontainer {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 40px;
}

#github{
  width: 80px;
  padding-left: 20px;
}

#linkedin {
  width: 50px;

}